# OS-specific files
.DS_Store
Thumbs.db

# Node.js / JS projects
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python projects
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Compiled code / build artifacts
dist/
build/
*.o
*.so
*.exe
*.dll

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/
*.swp

# Other
*.bak
*.tmp

# boltzdesign specific stuff
boltz.egg-info
LigandMPNN/model_params